#sugerencias {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#sugerencias li {
    padding: 10px;
    cursor: pointer;
}

#sugerencias li:hover {
    background-color: #ccc;
}

body {
    background-color: #f7f7f7;
}

.card {
    margin-top: 20px;
}

.wi {
    font-size: 48px;
}
